= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "devise-forms" }) do |f|
  - msg = devise_error_messages!
  - if !msg.empty?
    - flash[:msg] = msg.split("<li>").pop.to_s.split("</li>")[0].html_safe
  .row-fluid 
    %h3.form-signin-heading Forgot your password ?
  .row-fluid
    = f.email_field :email, class: "input-block-level", placeholder: "Email address"
  .row-fluid
    .span8  
      = f.submit "Rest Instructions", class: "btn btn-large btn-primary"
    .span4
      = render "devise/shared/links"
